{{ define "main" }}
<article>
  <header>
    <div class="item-row">
      <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_medium" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </div>
  </header>
  
  <main>
    {{ .Content }}
  </main>
  
  <footer class="tags">
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </footer>
</article>
{{ partial "page/nav.html" . }}
{{ end }}
